* {
	margin: 0;
	padding: 0;
}

body {
	background: #E9ECF4;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header header"
						 "rival rival rival "
						 "widget-1 widget-2 sidebar"
             			 "protagonista protagonista sidebar"
            			 "contenido contenido contenido"
						 "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .rival,
.contenedor .protagonista,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.contenedor .header {
	background: #12203E;
	color: #fff;
	grid-area: header;
}

.contenedor .contenido {
	grid-area: contenido;
}
.contenedor .rival {
  padding: 10px;
  height: 100px;
  display:flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-between;
  grid-area: rival;

}


.contenedor .protagonista {
  height: 200px;
	grid-area: protagonista;
	display:flex;
	flex-direction: row;
	justify-content:space-between;
	overflow: hidden;
}
.contenedor .protagonista img {
border: 10px;
/* border-color: #fAA43D; */
border-style: solid ;
border-radius: 10px;
transition: 1s;
  }

.contenedor .protagonista .formas{
	  display:flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content:space-between;
	  align-items:center;
	  width: 300px;
	  height: 80px;

  }
  .contenedor .protagonista .formas button{
width: 25%;
height: 50%;
border-radius: 4px;
border-color: #fff;
margin:0.5%;

}

.contenedor .sidebar {
	grid-column: 3 / 4;
	background: #fAA43D;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2 {
	background: #55a8fd;
	color: #fff;
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor .widget-1 {
	grid-area: widget-1;
}

.contenedor .widget-2 {
	grid-area: widget-2;
}
.contenedor .widget-1:hover,.contenedor .widget-2:hover {
	border: 1px solid;
	border-color: #000;
	padding: 15px;
	box-shadow: 2px 5px #12203E;
	transition:  0.5;
	transform: translateY(-7px);
	
}
.contenedor .sidebar:hover {
	border: 1px solid;
	border-color: #000;
	padding: 15px;
	box-shadow: 5px 5px #777777;
	transition:  0.5;
	transform: translateY(-7px);
	font-size:20px
	
}

.contenedor .footer {
	background: #12203E;
	color: #fff;
	grid-area: footer;
	text-align:right;
}

/* notebook */
@media screen and (max-width: 992px){
	.contenedor {
		grid-template-areas: "header header header"
							 "rival rival rival "
							 "widget-1 widget-2 sidebar"
							 "protagonista protagonista protagonista"
							 "contenido contenido contenido"
							 "footer footer footer";
	}
	.contenedor .protagonista img {
		width: 40%;
  
	}
	/* .contenedor .protagonista .formas button {
	width: 50%;
	height:auto;
	} */
}

/* laptop */
@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"
    						 "rival rival rival "
              				 "protagonista protagonista protagonista"
			 				 "sidebar sidebar sidebar"
						 	 "widget-1 widget-1 widget-2"
						 	 "contenido contenido contenido"
						 	 "footer footer footer";
	}
}

/* mobile */
@media screen and (max-width: 600px){
	.contenedor {
		grid-template-areas: "header header header"
    						 "rival rival rival "
             				 "protagonista protagonista protagonista"
						 	 "sidebar widget-1 widget-2"
						 	 "contenido contenido contenido"
						 	 "footer footer footer";
	}
	.contenedor .protagonista {
		height: auto;
		  grid-area: protagonista;
		  display:flex;
		  flex-direction: row;
		  justify-content:space-between;
		  overflow: hidden;
	  }

	  .contenedor .protagonista img {
				width: 45%;
		  }
	  .contenedor .protagonista .formas{
			width: max-content;
			height: auto;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
	  
		}

		.contenedor .protagonista .formas button{
			width: 280%;
			height: auto;
			/* border-radius: 4px; */
			/* border-color: #fff; */
			/* align-self: center; */
			/* margin:0.5%; */
			
			}
}