.contenedor{
width:90%;
margin:20px auto;
display: grid;
grid-gap: 20px;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(5, auto);
grid-template-areas: "header header header"
"opcion1 opcion1 opcion1"
"opcion2 opcion2 opcion2"
"opcion3 opcion3 opcion3"
"footer footer footer";
}

.contenedor .header{
grid-area: header;
}

.contenedor .opcion1{
  grid-area: opcion1;
  text-decoration: none;

  }
  .contenedor .opcion1:hover{
	width:auto;
	height:400px;
	background: darkorange;
	color:black;
	
	  }
.contenedor .opcion2{
  grid-area: opcion2;
  text-decoration: none;
  }


.contenedor .opcion2:hover{
	width:auto;
	height:400px;
	background: darkmagenta;
	color: rgb(176, 215, 97);
  }
  .contenedor .opcion3{
	grid-area: opcion3;
	text-decoration: none;
	}

  .contenedor .footer{
    grid-area: footer;
    }

.contenedor > div,
.contenedor .header,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}


.contenedor .opcion1,
.contenedor .opcion2,
.contenedor .opcion3 {
	background: #333333;
	padding: 20px;
	height: 250px;
	width: auto;
	color: #fff;
	border-radius: 4px;
	transition: 0.5s;
}


.opcion2 .flexContainer {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
height: 90%;
text-align: center;

}
.flexItemCard {
height:180px;
width:150px;
background: green;
transition: 0.5s;
}

.flexItemCard:hover {
	height:300px;
	width:280px;

	background: darkred;
	margin: 0px 20px 20px 30px;
	}

/*

@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"

    "rival rival rival "
						 "contenido contenido contenido"
						 "sidebar sidebar sidebar"
             "protagonista protagonista protagonista"
						 "widget-1 widget-1 widget-2"
						 "footer footer footer";
	}
} */