.contenedor{
width:90%;
height:100%;
margin:20px auto;
display: grid;
grid-gap: 20px;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(5, auto);
grid-template-areas: "header header header"
"opcion1 opcion2 opcion3"
"opcion1 opcion2 opcion3"
"opcion1 opcion2 opcion3"
"footer footer footer";
}

.contenedor .header{
grid-area: header;
}

.contenedor .opcion1{
  display: flex;
  flex-direction: column;
  
  grid-area: opcion1;
  text-decoration: none;
  
  }

  .contenedor .opcion1 .imgcontainer{
	width: 350px;
	height:400px;
	display: flex;
	flex-direction: row;
  
	}
  .contenedor .opcion1:hover{
	width:auto;
	height:700px;
	background: darkorange;
	color:black;
	
	  }
.contenedor .opcion2{
  grid-area: opcion2;
  text-decoration: none;
  }


.contenedor .opcion2:hover{
	width:auto;
	height:400px;
	background: darkmagenta;
	color: rgb(176, 215, 97);
  }

  .contenedor .opcion3{
	grid-area: opcion3;
	text-decoration: none;
	}

	.contenedor .opcion3:hover{
		width:auto;
		height:300px;
		background: rgb(227, 207, 93);
		color: black;
		/* text-align: center; */
		align-items: center;
		justify-content:space-between;
	  }
  .contenedor .footer{
    grid-area: footer;
	text-align: center;
    }

.contenedor > div,
.contenedor .header,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}


.contenedor .opcion1,
.contenedor .opcion2,
.contenedor .opcion3 {
	background: #333333;
	padding: 20px;
	height: 250px;
	width: auto;
	color: #fff;
	border-radius: 4px;
	transition: 0.5s;
}


.opcion2 .flexContainer {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
height: 90%;
text-align: center;

}
.opcion3  {
display: flex;
flex-direction: column;
/* align-items: center; */
height: 80%;
transition: 1s;


}
.flexItemCard {
height:180px;
width:150px;
background: green;
transition: 0.5s;
}

.flexItemCard:hover {
	height:300px;
	width:280px;

	background: darkred;
	margin: 0px 20px 20px 30px;
	}



/* notebook */
@media screen and (max-width: 992px){
	.contenedor {
		grid-template-areas: "header header header"
		"opcion1 opcion1 opcion1"
		"opcion2 opcion2 opcion2"
		"opcion3 opcion3 opcion3"
		"footer footer footer";
		}
		.contenedor .opcion1 {
			/* display:flex; */
			/* align-items: center; */
			text-align: center;
			overflow: hidden;
		}

		.contenedor .opcion1 img{

			height: 70%;
			
		  
			}
	}